<title>{{ page.seo_title | default: site.title | escape }}</title>

<meta
    name="description"
    content="{{ page.description | escape }}"
>

<link
    rel="canonical"
    href="{{ page.url | absolute_url }}"
>

<meta
    property="og:title"
    content="{{ page.seo_title | default: site.title | escape }}"
>

<meta
    property="og:description"
    content="{{ page.description | escape }}"
>

<meta property="og:type" content="website">

<meta
    property="og:url"
    content="{{ page.url | absolute_url }}"
>

<meta
    property="og:image"
    content="{{ page.image | absolute_url }}"
>

<meta property="og:site_name" content="Payam Parvizi">

<meta name="twitter:card" content="summary">

<meta
    name="twitter:title"
    content="{{ page.seo_title | default: site.title | escape }}"
>

<meta
    name="twitter:description"
    content="{{ page.description | escape }}"
>

<meta
    name="twitter:image"
    content="{{ page.image | absolute_url }}"
>
