---
layout: default
---

<style>
    td, th {
        text-align: center
    }
</style>

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<article class="post">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="content">{{page.title}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2 class="excerpt">{{ page.excerpt }}</h2>
        </div>
    </div>
    <div class="when"><b>Written on:</b> {{ page.date | date: "%d %B %Y" }}</div>
    
    <section class="post-content">
        {{ content }}
    </section>
    

    <hr>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'abhshkdz';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</article>
